@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    width: 100%;
    background-color: #6C685D;
    font-size: 1.25rem;
    font-weight: bold;
}

header a {
    text-decoration: none;
}

header p {
    color: #EBDA4F;
}

header nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 24%;
    max-width: 233px;
    background-color: #EBDA4F;
    height: 100%;
}

header nav a {
    color: black;
}

@media (max-width: 768px) {

    header {
        height: 129px;
        max-height: 129px;
    }

    header a p {
        display: none;
    }

    header {
        justify-content: center !important;
    }

    header nav {
        width: 100% !important;
        max-width: 100%;
        flex-direction: column;
    }
}