@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

@font-face {
    font-family: Gumball;
    src: url(./Gumball.ttf);
}


/*
==============================================
*/

/*====== HEADER ======*/

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    max-width: 960px;
    width: 90%;
    margin: 1rem auto;

    /* border: 1px solid; */
}

header div p {
    font-family: Gumball, sans-serif !important;
}

header div:nth-child(2) {
    width: 175px;
}

header div:nth-child(2) img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}



/*====== CONTENT ======*/

#content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    max-width: 960px;
    width: 90%;
    margin: 1rem auto;

    /* border: 1px solid; */
}

#content #calendar-selector {
    display: flex;
}

#content #calendar-selector label {
    align-self: center;
    font-size: 1.25rem;
}

#content #calendar-selector #data {
    margin: 0 1rem;
    padding: 0.313rem;
    font-size: 1rem;
}

#content #calendar-selector button {
    padding: 0 0.625rem;
}

#content #mainContent {
    margin: 1rem 0;
}

#content #mainContent #nasa-content {
    display: flex;
    justify-content: space-between;
}

#content #mainContent #nasa-content div:first-child {
    width: 50%;
}

#content #mainContent #nasa-content div:last-child{
    width: 45%;
}

#content #mainContent #nasa-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


@media (max-width: 600px) {

    #content #calendar-selector {
        flex-direction: column !important;
        align-items: center !important;
    }

    #content #calendar-selector #data {
        margin: 1rem 0 !important;
    }

    #content #calendar-selector button {
        width: 100% !important;
        padding: 0.625rem !important;
    }

}

@media (max-width: 768px) {

    #content #mainContent #nasa-content {
        flex-direction: column !important;
        align-items: center !important;
    }

    #content #mainContent #nasa-content div {
        width: 100% !important;
    } 
}